.emailWrap {
  position: relative;
  display: block;
  overflow: hidden;
  --time: 0.8s;
  --easing: cubic-bezier(0.22, 1, 0.36, 1);
}

/** hover */

.emailWrap::after {
  content: "";
  position: absolute;
  width: 98%;
  scale: 0 1;
  translate: -50% 0;
  height: 1px;
  bottom: 1px;
  left: 50%;
  background-color: var(--color-berkeley-blue);
  transform-origin: bottom center;
  transition: scale 0.15s ease-out;
}

.emailWrap:hover::after {
  scale: 1 1;
  transform-origin: bottom center;
}

.email {
  position: absolute;
  left: 0;
  bottom: 100%;
  transition: bottom var(--time) var(--easing);
}

.emailActive {
  bottom: 0%;
}

.emailLast {
  opacity: 0;
}

.emailPrevious {
  bottom: -100%;
}

.emailPlaceholder {
  display: inline-block;
  opacity: 0;
  width: var(--textWidth);
  transition: width var(--time) var(--easing);
}

#textMeasure {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
  display: block;
  opacity: 0;
  z-index: -100;
}
